
.w-full {
  width: 100%;
}
// 颜色
$colors: (
  'primary': #00a0e9,
  'white': #ffffff,
  'grey': #999999,
  'black': #000000,
  'red': #ff0000,
);
@each $colorKey, $color in $colors {
  // 文本颜色
  .text-#{$colorKey} {
    color: $color;
  }

  // 背景颜色
  .bg-#{$colorKey} {
    background-color: $color;
  }

  // 边框颜色
  .border-color-#{$colorKey} {
    border-color: $color;
  }
}
//文本对齐
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}
// 文本大小
.font-bold {
  font-weight: bold;
}
$fontSizes: (
  xxs: 12px,
  xs: 13px,
  sm: 14px,
  base: 15px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  2xl: 24px,
  3xl: 30px,
  4xl: 36px,
  5xl: 48px,
);
@each $fontSizeKey, $fontSize in $fontSizes {
  // 文本大小
  .text-#{$fontSizeKey} {
    font-size: $fontSize;
  }
  // 圆角
  .rounded-#{$fontSizeKey} {
    border-radius: $fontSize;
  }
}
//  flex布局
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
$flexJustify: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around,
);
@each $justifyKey, $justify in $flexJustify {
  .justify-#{$justifyKey} {
    justify-content: $justify;
  }
}
$flexAlign: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'baseline': baseline,
  'stretch': stretch,
);
@each $alignKey, $align in $flexAlign {
  .align-#{$alignKey} {
    align-items: $align;
  }
  .items-#{$alignKey} {
    align-items: $align;
  }
}

// spacing 边距
$spacingTypes: (
  m: margin,
  p: padding,
);
$spacingDirections: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacingSizes: (
  0: 0,
  1: 4,
  2: 8,
  3: 12,
  4: 16,
  5: 20,
  6: 24,
  7: 28,
  8: 32,
  9: 36,
  10: 40,
  11: 44,
  12: 48,
);
@each $typeKey, $type in $spacingTypes {
  // 全边
  @each $sizeKey, $size in $spacingSizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: #{$size}px;
    }
  }

  // 轴边
  @each $sizeKey, $size in $spacingSizes {
    // 水平方向
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: #{$size}px;
      #{$type}-right: #{$size}px;
    }
    // 垂直方式
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: #{$size}px;
      #{$type}-bottom: #{$size}px;
    }
  }
  // 各个方向
  @each $directionKey, $direction in $spacingDirections {
    @each $sizeKey, $size in $spacingSizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: #{$size}px;
      }
    }
  }
}
